/*fonts*/

@font-face{
 font-family: 'Sora';
 src: url('./fonts/static/Sora-Regular.ttf');
  }

@font-face{
 font-family: 'SoraB';
 src: url('./fonts/static/Sora-Bold.ttf');
}

@font-face{
 font-family: 'SoraM';
 src: url('./fonts/static/Sora-Medium.ttf');
}

@font-face{
 font-family: 'SoraSB';
 src: url('./fonts/static/Sora-SemiBold.ttf');
}

/*colours and fonts*/

 :root {
  --black: #000000;
  --silver: rgba(0,0,0,.55);
  --white: #ffffff;
  --fontsora: 'Sora','sans-serif';
  --fontsorab: 'SoraB','sans-serif';
  --fontsoram: 'SoraM','sans-serif';
  --fontsorasb: 'SoraSB','sans-serif';
 }

/*defaults*/

  body{
    font-family: 'Sora','sans-serif';
    color: var(--black);
  }
  img{
    max-width: 100%;
  }
  section{
    margin-top: 100px;
  }
  .sectionHead{
    margin-bottom: 80px;
  }
  .sectionHead p{
    color: var(--silver);
    font-size: 15px;
    margin-bottom: 6px;
  }
  .sectionHead h1{
    font-size: 40px;
    font-family: var(--fontsorab);
    letter-spacing: 2.5px;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }

  /*menu*/
  .mainMenu{
    height: 80px;
    background-color: var(--white);
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
  }
  .mainMenu .navbar-brand{
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-family: var(--fontsorab);
  }
  .mainMenu .nav-link{
    font-size: 20px;
  }
  .mainMenu.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0 40px;
  }
  .mainMenu li.nav-item {
    position: relative;
    transition: width 5s;
}
  .mainMenu.navbar-expand-lg .navbar-nav .nav-item a:after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--black);
    position: absolute;
    top: 120%;
    left: 40px;
    transition: all 0.5s ease; 
    opacity: 0;
}
.mainMenu.navbar-expand-lg .navbar-nav .nav-item:hover a:after {
  width: calc(100% - 80px);
  opacity: 1;
}
.brandLogo {
    display: flex;
    align-items: center;
}
.brandLogo img{
  width: 70px;
  margin-right: -4px;
}

  /*profile Section*/
  section.profileSection{
    margin-top: 180px;
  }
  .profileSection .profileImg{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  }
  .profileProf p{
    margin: 0;
  }
  .profileProf p:nth-child(1) {
    font-size: 20px;
    color: var(--silver);
    margin-bottom: 5px;
  }
  .profileProf p:nth-child(2) {
    font-size: 35px;
    font-family: var(--fontsorab);
  }
  .profileProf p:nth-child(3) {
     font-size: 25px;
     color: var(--silver);
  }
  .profileProfCont{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .profileProf{
    text-align: center;
  }
  .profileSection .row{
    justify-content: center;
  }
  .profileSocial img, .contactSection img{
    width: 35px;
    text-align: center;
    margin-top: 10px;
  }
  .profileSocial .mailImg img, .contactSection .mailImg img{
    width: 42px;
    margin-left: 7px;
  }
  a.profileCV {
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    margin: 22px;
    border-radius: 50px;
    background: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    position: relative;
    z-index: 1; /* Ensure the link itself is above the :after pseudo-element */
    overflow: hidden; /* Keep the :after pseudo-element inside the button boundaries */
}

/* This targets the text color change on hover */
.profileBtn:hover a.profileCV {
    color: var(--white);
    background: var(--black);
    transition: all 0.5s ease;
}

.profileBtn a:after {
    content: "";
    width: 0;
    height: 100%;
    background: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0; /* This could be set to 1 if you want the background to instantly appear on hover */
    border-radius: 50px;
    z-index: -1; /* Place the :after pseudo-element behind the text */
}

.profileBtn:hover a:after {
    width: 100%;
    opacity: 1;
}


  /*about section*/
  .aboutExp img{
    width: 35px;
  }
  .aboutExp, .experienceCont{
    /*border: 2px solid var(--silver);*/
    border-radius: 50px;
    padding: 20px;
    height: 100%;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  }
  .aboutExp img{
    margin-bottom: 10px;
  }
  .aboutExp p{
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--silver);
  }
  .aboutExp p:first-of-type{
    font-family: var(--fontsorab);
    color: var(--black);
  }
  .aboutSection .aboutExp:first-of-type{
    margin-right: 20px;
  }
  .aboutMe{
    margin-top: 35px;
    line-height: 32px;
    color: var(--silver);
  }

  /*experience section*/
  .expSkills {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
  }
  .expSkills img {
    width: 35px;
    object-fit: contain;
    margin-right: 30px;
  }
  .skillsTxt p {
    margin: 0;
    font-family: var(--fontsorab);
    max-width: 250px;
    width: 150px;
  }
  .experienceCont h2 {
    font-size: 25px;
    color: var(--silver);
    margin-bottom: 35px;
    margin-top: 25px;
  }
  .projectCont {
    padding: 80px 40px;
    /*border: 2px solid var(--silver);*/
    border-radius: 20px;
    position: relative;
    height: 100%;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  }
  .projectCont h3 {
    font-family: var(--fontsorab);
    text-align: center;
    margin: 25px 0;
    font-size: 24px;
  }
  .projectCont a.demoBtn {
    color: var(--black);
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
  }
  .linkBlock{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .projectCont img {
    width: 332px;
    height: 188px;
    object-fit: cover;
    border-radius: 10px;
  }
  .projectSection .col-xl-4{
    margin-bottom: 20px;
  }

  /*contact section*/
  .contactCont {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    /*border: 2px solid var(--silver);*/
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  }
  .contactDetails, .lkAnchor {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }
  .ctTxt p {
    margin: 0 0px 5px 0;
    color: var(--silver);
  }
  .contactSection img{
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 0;
  }
  .ctTxt a{
    text-decoration: none;
  }

  /*footer*/
  footer{
    margin-top: 100px;
  }
  footer ul {
    display: flex;
    justify-content: center;
  }
  footer li {
    list-style-type: none;
    margin-right: 70px;
    font-size: 20px;
    font-family: var(--fontsoram);
  }
  footer p{
    text-align: center;
    margin-top: 35px;
  }
  footer a, footer a:hover{
    color: var(--black);
    text-decoration: none;
  }




  /* ======================Responsive====================== */


  @media only screen and (min-width: 1200px){
	.demoBtn {
  	background: transparent;
  	color: black;
  	transition: 
    background-color 0.35s ease,
    color 0.35s ease,
    box-shadow 0.35s ease;
	}
.projectCont:hover .demoBtn {
  	background-color: black;
  	color: white;
  	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
}

@media only screen and (max-width: 991.9px){
	.mainMenu .navbar-collapse{
		position: absolute;
    	top: 100%;
    	right: calc(10% + 0px);
    	background-color: #ffffff;
	}
	.mainMenu{
		position: relative;
	}
	.mainMenu.navbar-expand-lg .navbar-nav .nav-link {
    	padding: 13px 40px;
	}
	.mainMenu .navbar-brand{
		font-size: 28px;
	}
	/*section{
		margin-top: 50px;
	}*/
	.profileSection .profileImg{
		width: 300px;
		height: 300px;
	}
	.profileProfImg{
		text-align: center;
	}
	.profileProf p:nth-child(1){
		margin-top: 20px;
		font-size: 18px;
	}
	.profileProf p:nth-child(2){
		font-size: 30px;
	}
	.profileProf p:nth-child(3){
		font-size: 22px;
	}
	.aboutExp{
		width: 100%;
	}
	.sectionHead {
    	margin-bottom: 60px;
	}
	.aboutSection .aboutExp:first-of-type {
    	margin-right: 0px;
	}
	.aboutSection .col-xl-5:first-of-type{
		margin-bottom: 30px;
	}
	.aboutSection .col-xl-6:first-of-type, .experienceSection .expMobCont{
		margin-bottom: 20px;
	}
	.sectionHead p{
		font-size: 13px;
	}
	.sectionHead h1{
		font-size: 30px;
	}
	.contactCont{
		width: 100%;
		flex-direction: column;
	}
	.contactSection .mailImg img, .contactSection img{
		margin-left: 0;
	}
	.contactDetails {
    	justify-content: center;
	}
	.ctTxt p{
		width: 150px;
	}
	.contactDetails:first-of-type{
		margin-bottom: 10px;
	}
	.navbar-light .navbar-toggler-icon {
    	background-image: url('./images/hamburger.svg');
    	filter: brightness(0%) contrast(100%);
	}
	.navbar-light .navbar-toggler {
    	border: none;
	}
	.navbar-toggler:focus{
		box-shadow: none;
	}
	.navbar-light .navbar-toggler-icon.cross-icon {
    	background-image: url('./images/cross.svg'); 
    	filter: brightness(0%) contrast(100%);
	}
	.mainMenu.navbar-expand-lg .navbar-nav .nav-item:hover a:after{
		opacity: 0;
	}
	footer li{
		font-size: 16px;
		margin-right: 15px;
	}
	footer p{
		font-size: 15px;
	}
}

@media only screen and (max-width: 767.9px){
.container {
    overflow-x: clip;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
	.profileSection .profileImg{
		height: 330px;
	}
}

